body {
    background-color: black;
    background-image: url("https://img.freepik.com/free-photo/ultra-detailed-nebula-abstract-wallpaper-4_1562-749.jpg?size=626&ext=jpg&ga=GA1.1.1826414947.1699833600&semt=ais") ;
    background-size: auto;
    background-repeat: repeat;
}
h1 {
    color: rgb(186, 182, 226);
    font-size: 30px;
    font-size: 3vh;
    font-size: 3vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul {
    color: rgb(212, 166, 166);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    color: rgb(224, 170, 170);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
