<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakko Turro</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
</head>


<body>
    <header>
        <h1>Jakko Turro</h1>
        <p>Jakko Turro veebileht</p>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('raspberry') }}">Raspberry Pi Projekt</a></li>
            <li><a href="#">Placeholder</a> </li>
            <li><a href="#">Placeholder</a></li>
            <li><a href="{{ url_for('kontakt') }}">Kontakt</a></li>
            <li><a href="{{ url_for('minust') }}">Minust</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <article>
            <h2>Pic</h2>
            <img src="{{url_for('static', filename='jakkopic.png')}}" alt="Jakko" height="100px" width="100px">
        </article>

        <article>
            <h2>CV</h2>
            <a href="{{ url_for('download_CV') }}">CV Download</a>
        </article>

        
    </section>

    <footer>
        <p>&copy; 2023 Jakko Turro veebileht.</p>
    </footer>
</body>
</html>
