body {
    background-color: black;
    background-image: url("https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc") ;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: rgb(186, 182, 226)8);
    font-size: 30px;
    font-size: 3vh;
    font-size: 3vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul {
    color: rgb(212, 166, 166);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p {
    color: rgb(224, 170, 170);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
