<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jakko Turro Kontakt</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
</head>
<body>
    <header>
        <h1>Raspberry Pi Projekt</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('test') }}">Home</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <article>
            <h2>Mis see on</h2>
            <p>Placeholder</p>
        </article>

    
</body>
</html>