<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minust</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
</head>
<body>
    <header>
        <h1>Minust</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('test') }}">Home</a></li>
        </ul>
    </nav>

    <section class="main-content">

        <article>
            <h2>Jakko Turro</h2>
            <img src="{{url_for('static', filename='jakkopic.png')}}" alt="Jakko" height="100px" width="100px">
        </article>

        <article>
            <h2>Minust</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in risus quis felis luctus finibus a eget velit. Aenean quis auctor neque. Maecenas mattis nisl quis ante blandit, et iaculis lorem tincidunt. Etiam at molestie nisi. Donec dapibus sapien nibh, sit amet auctor ligula tincidunt id. Morbi lacinia bibendum nisi et placerat. Pellentesque mattis efficitur erat, vel cursus lectus gravida ut. Ut nec congue diam. Donec dui lectus, ultricies eu tortor et, auctor consequat ligula. Etiam eu facilisis augue. Donec mollis facilisis turpis, et euismod lacus congue non. Donec feugiat augue non ipsum vestibulum posuere. Vestibulum quam sapien, placerat vel mi a, suscipit laoreet ante. Sed luctus leo ipsum, condimentum feugiat nulla lobortis id. Praesent vitae quam magna.</p>
        </article>
        <article>
            <h2>Hariduskäik</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in risus quis felis luctus finibus a eget velit. Aenean quis auctor neque. Maecenas mattis nisl quis ante blandit, et iaculis lorem tincidunt. Etiam at molestie nisi. Donec dapibus sapien nibh, sit amet auctor ligula tincidunt id. Morbi lacinia bibendum nisi et placerat. Pellentesque mattis efficitur erat, vel cursus lectus gravida ut. Ut nec congue diam. Donec dui lectus, ultricies eu tortor et, auctor consequat ligula. Etiam eu facilisis augue. Donec mollis facilisis turpis, et euismod lacus congue non. Donec feugiat augue non ipsum vestibulum posuere. Vestibulum quam sapien, placerat vel mi a, suscipit laoreet ante. Sed luctus leo ipsum, condimentum feugiat nulla lobortis id. Praesent vitae quam magna.</p>
        </article>
        <article>
            <h2>Hobid</h2>
            <ul>
                <li>Jõusaal</li>
                <li></li>
            </ul>
        </article>

        <footer>
            <p>&copy; 2023 Jakko Turro veebileht.</p>
        </footer>
    
</body>
</html>