<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minust</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
</head>
<body>
    <header>
        <h1>Oskused</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('test') }}">Home</a></li>
        </ul>
    </nav>

    <section class="main-content">

        <article>
            <h2>Python</h2>
            <p>Oman korralike teadmis Pythonist, ning olen tegelenud nii back-end kui ka front-end arendusega. Suudan sellega väga hästi toime tulla ja kiirest enda teadmisi arendada.</p>
        </article>

        <article>
            <h2>C++</h2>
            <p>Tean C++ põhitõdesid.</p>
        </article>
        <article>
            <h2>Veebilehed</h2>
            <p>Olen arendanud veebilehti, kasutades selleks HTML-i, CSS-i ja Flaski.</p>
        </article>
        <article>
            <h2>Operatsioonisüsteemid</h2>
            <p>Oman kogemusi Windows ja Linux platvormidel ning oman häid terminali kasutamis võtteid. Omandatud ka Linux Bash scriptimise teadmised.</p>
        </article>
        <article>
            <h2>Java</h2>
            <p>Olen omandanud Java põhioskused.</p>
        </article>
        <article>
            <h2>Docker</h2>
            <p>Oman Dockeri kasutamiskogemust.</p>
        </article>

        <footer>
            <p>2024 Jakko Turro veebileht.</p>
        </footer>
</body>
</html>