<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi projekt</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/index.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('test') }}">Home</a></li>
            <li><a href="{{ url_for('raspberryPiPDF') }}"></a>Projekti kirjelduse PDF</li>
            <li><a href="#">Placeholder</a></li>
            <li><a href="#">Placeholder</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
    </nav>
    
</body>
</html>